.nav-bar {
  justify-content: space-between;
}
div {
  display: flex;
}
.nav-bar-option {
  padding-right: 1.5rem;
}

a {
  text-decoration: none;
  color: white;
}

.nav-bar-user-option {
  background: none;
  border: none;
  font: Roboto, "Helvetica Neue", sans-serif;
  color: white;
  font-size: 1.3rem;
}

ng-template[matMenuContent] {
  background-color: #212121;
}
